<!-- app/templates/bands/band/loading.hbs -->
<div class="rr-loading-pane">
  <div class="rr-loading-message">
    Fetching band data
    <div class="rr-spinner">
      <embed src="/assets/images/spinner1.svg">
    </div>
  </div>
</div>